<div class="d-flex p-2 align-items-stretch" id="landing-rectangle-header">
  <div class="align-self-center" id="header-item-1">
    <h1 >Hacé tu pedido con un <br/>
      click!</h1>
    <button type="button" class="btn btn-light" id="order-button"> Pedí ahora! </button>
  </div>
  <%= image_tag "pizza.jpg", class: "img-fluid", id: "header-item-2" %>
</div>
<div class="d-flex flex-row bd-highlight mb-3" id="landing-rectangle-body" style="margin-left:30px;margin-top:30px">
  <div class="p-2 bd-highlight align-items-stretch" style="font-size:1.7em"><i class="bi bi-sliders"></i> Filtrar por: </div>
  <div class="p-2 bd-highlight"><button type="button" class="btn btn-dark" id="filter-button"> Puntuación   X</button></div>
  <div class="p-2 bd-highlight"><button type="button" class="btn btn-secondary" id="filter-button"> Ubicación</button></div>
  <div class="p-2 bd-highlight"><button type="button" class="btn btn-secondary" id="filter-button"> Comida</button></div>
  <div class="p-2 bd-highlight"><button type="button" class="btn btn-secondary" id="filter-button"> Categorías</button></div>
</div>
