<div class="d-flex p-2 align-items-stretch" id="landing-rectangle-header">
  <div class="align-self-center" id="header-item-1">
    <h1 >Hacé tu pedido con un click!</h1>
    <button type="button" class="btn btn-light" id="order-button"> Pedí ahora! </button>
  </div>
  <%= image_tag "pizza.jpeg", class: "img-fluid", id: "header-item-2" %>
</div>
