<header>
  <div class="d-flex flex-column-reverse flex-md-row align-items-center justify-content-center p-4">
    <%# -------Imagen del header responsive%>
    <div class="container-fluid d-flex justify-content-center p-md-4">
            <h1 class="fw-bolder text-dark text-md-start">Orden confirmada</h1>
      <h5 class="text-secondary text-md-start text">Estamos</h5>
      <img src="/assets/logo-md-transp.png">
    </div>
  </div>
</header>