<div id="footer">

  <div class="d-flex justify-content-evenly flex-row">  
      <div class="d-flex flex-column justify-content-center pt-2 h-75" style="color: white;"> 
        <p>Buenos Aires, Argentina</p>
        <p><%= t('footer.about_us')%></p>
        <p>yendo@soporte.com</p>
      </div>

      <div class="p-2 m-2 d-flex flex-column flex-md-row align-content-center justify-content-center w-25 h-50">
          <a href="#" id="social-icon"><i class="bi bi-instagram"></i></a>
          <a href="#" id="social-icon"><i class="bi bi-facebook"></i></a>
          <a href="#" id="social-icon"><i class="bi bi-twitter"></i></a>
      </div>
  </div>
</div>


<style>
  #social-icon{
    color:#ffe;
    margin-left: 1.5rem;
    margin-top:6px;
  }

  #social-icon:hover{
    transform: scale(1.2);
    transition: 0.3s;
  }

  #footer{
    background-color: #F07167;
    height:8rem;
    width:100%;

  }

</style>
<%# %>
