<div class="bg-dark" style="width:100%;height: 8rem;" id="footer">
  
     <div class="">
        <i class="bi bi-instagram" style="color:#fff;"></i>
        <i class="bi bi-facebook" style="color:#fff;"></i>  
        <i class="bi bi-twitter" style="color:#fff;"></i>
    </div>
    
</div>
