    <div class="bd-highlight d-flex flex-row flex-wrap" id="landing-rectangle-body">
      <i class="bi bi-sliders p-2 fw-bold"></i>
      <div class="bd-highlight p-1"><button type="button" class="btn btn-outline-secondary btn-sm" id="filter-button">Puntuación</button></div>
      <div class=" bd-highlight p-1"><button type="button" class="btn btn-outline-secondary btn-sm" id="filter-button">Ubicación</button></div>
      <div class=" bd-highlight p-1"><button type="button" class="btn btn-outline-secondary btn-sm" id="filter-button">Comida</button></div>
      <div class="bd-highlight p-1"><button type="button" class="btn btn-outline-secondary btn-sm" id="filter-button">Categorías</button></div>
    </div>
    <%= render 'store' %>