<p>Lista de locales
  <p>
    <div class="d-flex flex-row bd-highlight mb-3" id="landing-rectangle-body" style="margin-left:30px;margin-top:30px">
      <div class="p-2 bd-highlight align-items-stretch" style="font-size:1.7em"><i class="bi bi-sliders"></i> Filtrar por: </div>
      <div class="p-2 bd-highlight"><button type="button" class="btn btn-dark" id="filter-button"> Puntuación   X</button></div>
      <div class="p-2 bd-highlight"><button type="button" class="btn btn-secondary" id="filter-button"> Ubicación</button></div>
      <div class="p-2 bd-highlight"><button type="button" class="btn btn-secondary" id="filter-button"> Comida</button></div>
      <div class="p-2 bd-highlight"><button type="button" class="btn btn-secondary" id="filter-button"> Categorías</button></div>
    </div>
    <%= render 'store' %>
