#landing-rectangle-header {
    background-color: #5D576B;
    height: 514px;
    left: 0px;
    top: 127px;
}
#header-item-1 {
    margin-left: 10%;
    margin-right: 10%;
}
#order-button {
    height: 50px; 
    width:300px; 
    max-height: 20%;
}
#header-item-2 {
    padding: 42px 43px;
    border-radius: 65px
    /* round corners*/
}