.navbar {
    display: flex;
    flex-wrap: wrap;
}

#login-button {
    margin-right: 40px;
}

.navbar-brand {
    margin-right: 20px;
}

.nav-link.active {
    margin-right: 40px;
}

#cart {
    margin-left: 40px;
}
.form-control {
    /* make it wider */
    width: 300px;
}

@media (max-width: 576px) {
    .form-inline {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}