    <div style ="margin-top: 60px;">
        <%= js_map [{
                latitude: @latitude,
                longitude: @longitude,
                label: 'Mi direccion'
                }],
                id: "cities-map",
                width: "500px",
                height: "400px",
                markers: {color: "#11a87b"},
                tooltips: { hover: false, html: true},
                style: "mapbox://styles/mapbox/outdoors-v12",
                zoom: 15,
                controls: true,
                refresh: 60 %>
    </div>