<div class="align-self-center flex-grow-1 d-flex flex-column align-items-center">
    <div>
        <%= js_map [{latitude: 37.7829,
                longitude: -122.4190,
                label: 'My home',
                tooltip: 'Hello!'
                }],
                id: "cities-map",
                width: "500px",
                height: "400px",
                markers: {color: "#00FF00"},
                tooltips: { hover: false, html: true},
                style: "mapbox://styles/mapbox/outdoors-v12",
                zoom: 15,
                controls: true,
                refresh: 60 %>
    </div>            
    <div class="align-self-center flex-grow-1 flex-row align-items-center">
        <div>
            <input type="text" class="form-control" id="direccion" aria-describedby="Direccion" placeholder="Direccion">
        </div>
        <div>
            <button type="button" class="btn btn-light" id="address">
                <%= link_to "Confirmar Direccion", "locations#index", class:"nav-link active" %>
            </button>
        </div>
    </div>
</div>
